@import "config";

body {
  margin: 0;
  padding: 0;
  @include flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $light-gray;
}

.main-component {
  @include flex;
  margin: auto 25vw;
  border-radius: 5px;
}

.sedan-container,
.suv-container,
.luxury-container {
  display: flex;
  flex-direction: column;

  img {
    width: 64px;
    height: 40px;
    @include margin;
  }

  h1 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    color: $light-gray;
    @include margin;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    color: $para;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    @include margin;
    margin-right: 30px;
  }

  .btn {
    background-color: $light-gray;
    margin-left: 30px;
    margin-top: 65px;
    margin-bottom: 30px;
    width: 45%;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: 25px;
  }
}

.sedan-container {
  background-color: $bright-orange;
  border-radius: 5px 0 0 5px;

  .btn {
    color: $bright-orange;
    margin-top: 45px;
  }

  .btn:hover {
    background-color: $bright-orange;
    color: $light-gray;
    cursor: pointer;
  }
}

.suv-container {
  background-color: $dark-cyan;

  .btn {
    color: $dark-cyan;
  }

  .btn:hover {
    background-color: $dark-cyan;
    color: $light-gray;
    cursor: pointer;
  }
}

.luxury-container {
  background-color: $very-dark-cyan;
  border-radius: 0 5px 5px 0;

  .btn {
    color: $very-dark-cyan;
  }

  .btn:hover {
    background-color: $very-dark-cyan;
    color: $light-gray;
    cursor: pointer;
  }
}

.attribution {
  font-size: 15px;
  text-align: center;

  p {
    margin-top: -100px;
  }

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
  }
  .main-component {
    display: flex;
    flex-direction: column;
  }

  .attribution p {
    margin-top: 20px;
  }
}
